* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.page-title {
  font-weight: bold;
  text-align: center;
  padding: 3rem;
}
.main-body {
  padding: 5rem;
}

.link-home {
  color: var(--primary);
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;

  }